<h1>Tweets Display Galore</h1>

<h3>Find The Latest Tweets from Your Favorite Users!</h3>

<form action="<%= searches_url %>" method="POST">
  <label>Username
    <input type="text" name="searches[username]" value="">
  </label>
  <input type="submit" value="Search">
</form>
