// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #c0deed;
}

.tweet-box{
  width: 30%;
  min-height: 100px;
  border: 1px dashed white;
  margin: 5px;
}

.tweet-box:hover{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border: 1px solid white;
  cursor: pointer;
}

#tweet-container{
  display: flex;
  flex-wrap: wrap;
}
